.entete {
    display: flex;
    flex-direction: row;
}

.entete>* {
    justify-content: space-between;
}

.para {
    flex: 33.33%;
    display: flex;
    justify-content: center;
}

.para>* {}

.sous_para {
    display: flex;
    flex-direction: row;
}

.sous_para>* {
    padding: 10px;
    width: fit-content;
}

.sous_para>p {
    flex: 33.33%;
    justify-content: space-between;
}


/*
.sous_para span:nth-child(3) {
    margin-top: 6px;
}*/

.sous_para ul {
    list-style-type: none;
}

.separateur {
    width: 90px;
    border-bottom: 1px solid black;
    height: 4px;
    flex: 33.33%;
    display: inline-block;
}