@font-face {
    font-family: hypatia;
    src: url(assets/fonts/HypatiaSansPro-Light.otf);
}

@font-face {
    font-family: hypatia_bold;
    src: url(assets/fonts/HypatiaSansPro-Bold.otf);
}

@font-face {
    font-family: gravityWanders;
    src: url(assets/fonts/gravity_wanders-webfont.woff);
}

.entete {
    display: flex;
    flex-direction: row;
}

.entete>* {
    justify-content: space-between;
}

.para {
    flex: 33.33%;
    display: flex;
    justify-content: center;
}

.sous_para {
    display: flex;
    flex-direction: row;
}

.sous_para>* {
    padding: 10px;
    width: fit-content;
}

.sous_para>p {
    flex: 33.33%;
    justify-content: space-between;
}

.sous_para p:nth-child(1) {
    font-family: hypatia_bold;
}

.sous_para span:nth-child(3) {
    margin-top: 6px;
}

.separateur {
    width: 90px;
    border-bottom: 1px solid black;
    height: 4px;
    flex: 33.33%;
    display: inline-block;
}

.list_expertise {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding-left: 10px;
}

.footer_entete {
    display: flex;
    flex-direction: row;
}

.footer_entete p:nth-child(1) {
    flex: 0 0 81.2%;
    padding-left: 20px;
    margin: auto 0;
}