@font-face {
    font-family: gravityWanders;
    src: url(assets/fonts/gravity_wanders-webfont.woff);
}

.section_entete,
.section_defis {
    position: relative;
    width: 100vw;
}

.sous_titre {
    padding-top: 200px;
}

.conteneur {
    max-width: 1020px;
    color: #10374F;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 40px;
}

.conteneur h1 {
    font-family: gravityWanders;
    font-size: 85px;
    font-weight: normal;
    margin-top: 20px;
    line-height: 1.5em;
}

.para {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

.sous_para {
    display: flex;
}

.multi_span {
    display: flex;
    flex: 1;
}

.multi_span span:nth-child(1) {
    font-weight: bold;
    font-family: hypatia-sans-pro;
    font-size: 24px;
}

.details {
    flex: 40%;
    font-family: hypatia-sans-pro;
    font-size: 24px;
}

.separateur {
    width: 90px;
    border-bottom: 5px solid black;
    height: 4px;
    margin: 8px;
}

.expertise {
    display: flex;
    flex-direction: column;
    flex: 40%;
}

.list_expertise {
    font-family: hypatia-sans-pro;
    font-size: 24px
}

.footer_entete {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}

.footer_entete p {
    flex: 50%;
    display: flex;
}

.footer_entete div {
    flex: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.links_entete {
    transition: 0.3s;
    font-family: 'hypatia-sans-pro', sans-serif;
    color: #10374F;
    font-weight: 500;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 5px;
}


/*

* {
    border: 1px solid red;
}
*/


/*MEDIA QUERIES ENTETE POMPETTES PRODUCTIONS*/

@media screen and (max-width: 1024px) {
    .conteneur {
        padding: 0 60px;
    }
    .para {
        flex-direction: column;
    }
    .multi_span {
        flex-basis: 25%;
    }
    .sous_para {
        width: 100%;
        margin-bottom: 40px;
        flex-direction: column;
    }
    .footer_entete {
        flex-direction: column;
    }
    .footer_entete p {
        align-self: flex-start;
    }
    .footer_entete div {
        justify-content: start;
    }
    .multi_span span:nth-child(1) {
        width: 14%;
    }
    .separateur {
        flex: 1;
        height: 10px;
    }
    .details {
        padding-left: 14px;
    }
    .expertise {
        flex: 41.5%;
    }
    .list_expertise {
        padding-left: 10px;
    }
}

@media screen and (max-width:650px) {
    .conteneur h1 {
        font-size: 36px;
    }
    .multi_span {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .multi_span span:nth-child(1) {
        font-size: 16px;
    }
    .details,
    .list_expertise {
        font-size: 16px;
    }
    .footer_entete {
        align-items: center;
    }
}


/*SECTION IMAGE*/

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    background-color: #E6BE1E;
}

.imgwrap {
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgwrap img {
    max-width: 500px;
}


/*SECTION DEFIS et SECTION SOLUTION*/

.section_defis {
    background-color: #F8F8F8;
    flex-direction: row;
}

.section_defis,
.section_solution {
    display: flex;
    width: 100%;
}

.flex-item {
    height: 100vh;
    flex: 50%;
    display: flex;
    padding-bottom: 80px;
}

.flex-item img {
    margin: 80px;
}

.info-container {
    flex: 50%;
    display: flex;
    flex-direction: column;
}

.info-container h1 {
    font-family: gravityWanders;
    font-size: 85px;
    font-weight: normal;
    margin: 0px;
    padding-top: 40px;
}

.info-container p {
    font-family: hypatia-sans-pro;
    font-size: 24px;
    padding: 0px;
    width: 70%;
}