@import "./colors";

footer {
    cursor: default;

    padding: 90px 0;

    position: relative;

.travail_ensemble {
    display: flex;
    justify-content: space-between;

    align-items: center;


    .margin_supp {

        margin: 0 100px;
    }

    .travail {
        text-align: center;

        flex: 2;

        a {
            font-family: 'gravityWanders', sans-serif;
            font-size: 90px;
            
            color: $bleu;
            
            line-height: 100px;
        }
    }

    .infos {
        flex: 1;

        text-align: right;


        a, p {
            font-family: 'hypatia-sans-pro', sans-serif;
            font-size: 18px;
            font-weight: 400; 

            color: $bleu;
        }

        &:first-of-type{
            text-align: left;

            a {
                display: block;
            }
        }
    }
}

.credits {
        margin-top: 85px;

        margin: auto;
        width: calc((100% * 1 / 3) - 200px);

        margin-top: 50px;

        font-family: 'hypatia-sans-pro', sans-serif;
        font-size: 16px;
        font-weight: 300;
        
        color: $gris;
        
}
}

@media screen and (max-width: 950px) {

    footer {


        .travail {
            display: none;
        }

        .credits {
            margin-top: 45px;
            width: 100%;
            text-align: center;
        }
    }
    


}