@import "./colors";






.front-page {


    #app, .app {
        height: 100vh;
        position: relative;

        content-visibility: auto;


                

        .background.groupe {

            canvas {
                
                degra_canv {
                    z-index: 3;
                }
            }
        }


      

        
        .social_networks {
            margin-right: 50px;
        }

        .presentation {
            position: absolute;
            bottom: 0;
            z-index: 5;

            color: $beige;

            text-transform: uppercase;

            font-family: 'hypatia-sans-pro', sans-serif;
            font-size: 18px;
            font-weight: 600;
            
            
            margin-left: 50px;
        }
    }


    .img_etude_cas {
        position: absolute;
        
        z-index: 5;
        width: 1200px;
        height: 660px;
        top: 50vh;
        left: 50%;
        transform: translate(-50%, -50%); 


        background-image: url(../src/assets/etude_de_cas.jpg);
        background-size: cover;
        background-repeat: no-repeat;

    }


    




}



@media screen and (max-width: 1600px) {



    .background svg {
        bottom: -5vh;
    }
}