@font-face {
  font-family: gravityWanders;
  src: url(assets/fonts/gravity_wanders-webfont.woff);
}

@font-face {
  font-family: gravityWanders2;
  src: url(assets/fonts/gravity_wanders-webfont.woff2);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#cursor {
  position: absolute;
  background-color: #222;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
  -webkit-transform: scale(1);
          transform: scale(1);
  mix-blend-mode: difference;
}

#cursorFollow {
  position: absolute;
  background-color: rgba(218, 68, 83, 0.7);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: luminosity;
}

#cursorFollow.active {
  -webkit-transform: scale(2);
          transform: scale(2);
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  margin: 0;
}

body.preventOverflow {
  overflow: hidden;
}

body .site_background {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#webGLApp {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

img {
  position: absolute;
}

.background svg {
  width: 110%;
  height: auto;
  position: absolute;
  left: -75px;
  bottom: -25px;
  z-index: 5;
}

a {
  text-decoration: none;
}

h6 {
  margin-top: 20px;
}

.wrap {
  max-width: 1800px;
  padding: 0 100px;
  margin: auto;
}

.sidebar {
  will-change: min-height;
}

.sidebar__inner {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  /* For browsers don't support translate3d. */
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

.social_networks {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.social_networks .links {
  color: #FEF2D1;
  margin-right: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'hypatia-sans-pro', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
}

.social_networks .links:nth-of-type(1):hover {
  color: #E7BA3F;
}

.social_networks .links:nth-of-type(2):hover {
  color: #3E1739;
}

.social_networks .links:nth-of-type(3):hover {
  color: #10374F;
  margin-right: 0;
}

.social_networks .links.no_margin {
  margin: 0;
}

.presentation_domaines a {
  font-family: 'gravityWanders', sans-serif;
  font-size: 30px;
  color: #10374F;
  padding-left: 40px;
  cursor: pointer;
}

.ctn_fake_border {
  position: relative;
}

.ctn_fake_border span.fake_border {
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background: #10374F;
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ctn_fake_border span.horizontal_bar {
  position: absolute;
  left: 0;
  top: 50%;
  height: 3px;
  width: 25px;
  background: #10374F;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scale3d(0, 1, 0);
          transform: scale3d(0, 1, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ctn_fake_border svg {
  width: 10px;
  top: 50%;
  left: -4px;
  position: absolute;
  width: .625rem;
  height: 1.0625rem;
  margin-top: 1px;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform: translate3d(0, -50%, 0) scale3d(0, 0, 1);
  transform: translate3d(0, -50%, 0) scale3d(0, 0, 1);
}

.ctn_fake_border:hover .fake_border {
  -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.ctn_fake_border:hover span.horizontal_bar {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}

.ctn_fake_border:hover svg {
  -webkit-transform: translate3d(1.375rem, -50%, 0) scale3d(1, 1, 1);
          transform: translate3d(1.375rem, -50%, 0) scale3d(1, 1, 1);
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}

.ctn_fake_border:hover .lien_fleche {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

@media screen and (max-width: 450px) {
  .wrap {
    padding: 0 50px;
  }
}

@-webkit-keyframes liens_fleche {
  from {
  }
  to {
  }
}

@keyframes liens_fleche {
  from {
  }
  to {
  }
}
/*# sourceMappingURL=general.css.map */