@charset "UTF-8";
section.section_texte {
  width: 100vw;
  padding-top: 200px;
  padding-bottom: 240px;
  cursor: default;
  position: relative;
  z-index: 3;
}

section.section_texte .margin_supp {
  margin-right: 150px;
  margin-left: 150px;
}

section.section_texte .texte {
  margin-bottom: 45px;
}

section.section_texte .mission {
  font-family: 'gravityWanders', sans-serif;
  font-size: 60px;
  line-height: 70px;
  color: #10374F;
  margin: 0;
  margin-right: 100px;
}

section.section_texte .macaron {
  width: 220px;
  height: 220px;
  display: block;
  position: relative;
  cursor: pointer;
  margin-left: 0;
  top: -10px;
}

section.section_texte .macaron .contour {
  width: 220px;
  height: 220px;
  background-image: url(../src/assets/prendre_cafe.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: rotating 15s linear infinite;
          animation: rotating 15s linear infinite;
  position: relative;
}

@-webkit-keyframes rotating {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotating {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

section.section_texte .macaron .fleche {
  width: 30px;
  height: 50px;
  background-image: url(../src/assets/fleche.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-transition: .2s all;
  transition: .2s all;
}

section.section_texte .macaron:hover .fleche {
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
}

@media screen and (max-width: 1600px) {
  section.section_texte .macaron {
    top: -25px;
  }
  section.section_texte .margin_supp {
    margin: 0 100px;
  }
  section.section_texte .mission {
    font-size: 50px;
    line-height: 56px;
    width: 75vw;
    margin-bottom: 80px;
  }
  section.section_texte .margin_supp {
    margin: 0;
  }
}

@media screen and (max-width: 1400px) {
  section.section_texte .macaron {
    margin: 0;
    top: 0;
  }
}

@media screen and (max-width: 950px) {
  section.section_texte {
    padding-top: 150px;
    padding-bottom: 200px;
  }
  section.section_texte .flex_cafe {
    display: unset;
  }
  section.section_texte .macaron {
    top: 0;
  }
}

@media screen and (max-width: 650px) {
  section.section_texte {
    padding-top: 100px;
    padding-bottom: 350px;
  }
  section.section_texte .mission {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 45px;
  }
  section.section_texte .macaron {
    width: 150px;
    height: 150px;
  }
  section.section_texte .macaron .contour {
    width: 150px;
    height: 150px;
  }
  section.section_texte .macaron .fleche {
    width: 20px;
    height: 32px;
  }
  section.section_texte.deuxieme {
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 450px) {
  section.section_texte .mission {
    font-size: 25px;
    width: 100%;
  }
}

.section_services {
  background-color: #FEF2D1;
  cursor: default;
  position: relative;
}

.section_services .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.section_services .service.visible .sidebar {
  opacity: 1;
}

.section_services h3 {
  font-family: 'gravityWanders', sans-serif;
  font-size: 144px;
  line-height: 0.8;
  font-weight: normal;
  color: #EC5B5D;
  margin: 0;
}

.section_services p {
  font-family: 'hypatia-sans-pro', sans-serif;
  font-size: 24px;
  width: 500px;
  color: #10374F;
}

.section_services a {
  font-family: 'gravityWanders', sans-serif;
  font-size: 30px;
  color: #10374F;
  padding-left: 40px;
  cursor: pointer;
}

.section_services .sidebar {
  width: calc(100% * (9 / 14) - 10px);
  display: inline-block;
  -webkit-transition: .5s all;
  transition: .5s all;
  opacity: 0;
}

.section_services .content {
  width: calc(100% * (5 / 14) - 1px);
  display: inline-block;
}

.section_services .img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  position: relative;
}

.section_services .img img {
  top: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

.section_services .img.branding {
  background-image: url(../src/assets/branding.jpg);
}

.section_services .img.branding img {
  left: calc(50% + 20px);
  width: 220px;
}

.section_services .img.web {
  background-image: url(../src/assets/web.jpg);
}

.section_services .img.web img {
  left: 50%;
  width: 235px;
}

.section_services .img.strategie {
  background-image: url(../src/assets/strategie.jpg);
}

.section_services .img.strategie img {
  left: calc(50% + 10px);
  width: 200px;
}

.section_services.presentation_services {
  background-color: unset;
}

.section_services.presentation_services .rectangle_beige {
  width: 100%;
  height: 795px;
}

.section_services.presentation_services .rectangle_beige .le_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 795px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.section_services.presentation_services .rectangle_beige .le_flex .premiere_boite {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  background-color: blueviolet;
  width: 500px;
  height: 100%;
  position: relative;
}

.section_services.presentation_services .rectangle_beige .le_flex .deuxieme_boite {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  height: 90%;
}

@media screen and (max-width: 1600px) {
  .section_services .margin_supp .flex_domaines {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 950px) {
  .section_services .margin_supp {
    margin: 0;
  }
  .section_services .margin_supp .flex_domaines .presentation_domaines h3 {
    font-size: 80px;
  }
}

@font-face {
  font-family: gravityWanders;
  src: url(assets/fonts/gravity_wanders-webfont.woff);
}

/*-------------------------ENTÊTE POMPETTES PRODUCTIONS---------------------*/
.section_entete {
  position: relative;
  width: 100vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sous_titre {
  padding-top: 200px;
}

.conteneur {
  max-width: 1020px;
  color: #10374F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.conteneur.entete {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
}

.conteneur h1 {
  font-family: gravityWanders;
  font-size: 85px;
  font-weight: normal;
  margin-top: 20px;
  line-height: 1.5em;
}

.para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sous_para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.multi_span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.multi_span span:nth-child(1) {
  font-weight: bold;
  font-family: hypatia-sans-pro;
  font-size: 24px;
}

.details {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  font-family: hypatia-sans-pro;
  font-size: 24px;
}

.separateur {
  width: 90px;
  border-bottom: 5px solid black;
  height: 4px;
  margin: 8px;
}

.expertise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

.list_expertise {
  font-family: hypatia-sans-pro;
  font-size: 24px;
}

.footer_entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 40px;
}

.footer_entete p {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_entete div {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links_entete {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'hypatia-sans-pro', sans-serif;
  color: #10374F;
  font-weight: 500;
  font-size: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

/*

* {
    border: 1px solid red;
}*/
/*--------------------------MEDIA QUERIES ENTETE POMPETTES PRODUCTIONS-----------------------------*/
@media screen and (max-width: 1024px) {
  /*SECTION ENTETE*/
  .conteneur {
    padding: 0 60px;
  }
  .para {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .multi_span {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .sous_para {
    width: 100%;
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_entete {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_entete p {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .footer_entete div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .multi_span span:nth-child(1) {
    width: 14%;
  }
  .separateur {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 10px;
  }
  .details {
    padding-left: 14px;
  }
  .expertise {
    -webkit-box-flex: 41.5%;
        -ms-flex: 41.5%;
            flex: 41.5%;
  }
  .list_expertise {
    padding-left: 10px;
  }
}

@media screen and (max-width: 650px) {
  .conteneur h1 {
    font-size: 36px;
  }
  .multi_span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .multi_span span:nth-child(1) {
    font-size: 16px;
  }
  .details,
  .list_expertise {
    font-size: 16px;
  }
  .footer_entete {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .links_entete {
    font-size: 16px;
  }
  /*SECTION IMAGE
    .imgwrap img {
        height: 50vh;
    }*/
}

/*-------------------------------------------------------------------------------------------------*/
/*--------------------------------------SECTION IMAGE---------------------------------------------*/
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  background-color: #E6BE1E;
}

.imgwrap {
  margin: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgwrap img {
  max-width: 500px;
}

@media screen and (max-width: 1024px) {
  .imgwrap {
    height: 50vh;
  }
}

@media screen and (max-width: 650px) {
  .imgwrap img {
    height: 50vh;
  }
}

/*---------------------------------------FIN SECTION IMAGE-----------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*--------------------------------SECTION DEFIS*--*SECTION SOLUTION----------------------------------*/
.section_defis {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f8f8;
  width: 100%;
  position: relative;
}

.section_solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.flex-item {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.flex-item img {
  margin-top: 80px;
  max-width: 100%;
}

.info-container {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-top: 80px;
}

.info-container h1 {
  font-family: gravityWanders;
  line-height: 85px;
  font-weight: normal;
  margin: 0px;
}

.info-container img {
  max-width: 100%;
  padding-left: 80px;
}

.info-container p,
.flex-item.solutions p {
  font-family: hypatia-sans-pro;
  font-size: 24px;
  padding: 0px;
  margin: 0px;
}

.flex-item.solutions h1 {
  padding-top: 80px;
  margin: 0px;
}

.conteneur.defis {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.conteneur.solutions {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-item.solutions {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .flex-item img {
    width: 50%;
  }
  .info-container {
    padding: 20px;
  }
  .info-container h1 {
    font-size: 60px;
  }
  .info-container p {
    font-size: 20px;
  }
}

section.section_cafe {
  width: 100vw;
  padding-top: 200px;
  padding-bottom: 200px;
  cursor: default;
  position: relative;
  z-index: 3;
}

section.section_cafe .margin_supp {
  margin: 0 200px;
  margin-right: 150px;
  margin-left: 150px;
}

section.section_cafe .flex_cafe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section_cafe .flex_cafe:first-of-type p {
  width: calc(100% * (8 / 12) - 1px);
}

section.section_cafe .sous_titre {
  position: relative;
  left: -10px;
  font-family: 'hypatia-sans-pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #10374F;
}

section.section_cafe .mission {
  font-family: 'gravityWanders', sans-serif;
  font-size: 60px;
  line-height: 70px;
  color: #10374F;
  margin: 0;
  margin-bottom: 20px;
  width: 1300px;
}

section.section_cafe .macaron {
  position: relative;
  cursor: pointer;
  margin-left: 0;
}

section.section_cafe .macaron .contour {
  width: 220px;
  height: 220px;
  background-image: url(../src/assets/prendre_cafe.svg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: rotating 15s linear infinite;
          animation: rotating 15s linear infinite;
  position: relative;
}

@-webkit-keyframes rotating {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotating {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

section.section_cafe .macaron .fleche {
  width: 30px;
  height: 50px;
  background-image: url(../src/assets/fleche.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

section.section_domaines {
  background-color: #FEF2D1;
  cursor: default;
  padding: 175px 0;
  height: 1600px;
  position: relative;
}

section.section_domaines.section_projets {
  display: table;
  background: -webkit-gradient(linear, left top, left bottom, from(#FEF2D1), to(#FFFFFF));
  background: linear-gradient(180deg, #FEF2D1 0%, #FFFFFF 100%);
}

section.section_domaines.section_projets .margin_supp {
  margin: 0 100px;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite {
  position: relative;
  width: calc(100% * (4 / 12) - 1px);
  min-width: 450px;
  height: 450px;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite:nth-child(4n + 1) .texte {
  background-color: #E7BA3F;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite:nth-child(4n + 2) .texte {
  background-color: #EC5B5D;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite:nth-child(4n + 3) .texte {
  background-color: #3E1739;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite:nth-child(4n + 4) .texte {
  background-color: #10374F;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite .texte {
  padding: 20px 15px;
  max-width: 475px;
  position: absolute;
  bottom: 25px;
  left: 0;
  display: inline-block;
  background-color: #EC5B5D;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite .texte p {
  font-family: 'hypatia-sans-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite .texte h4 {
  font-family: 'gravityWanders', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0;
}

section.section_domaines .margin_supp {
  margin: 0 200px 0 100px;
}

section.section_domaines .margin_supp .flex_domaines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section_domaines .margin_supp .flex_domaines .presentation_domaines {
  position: relative;
}

section.section_domaines .margin_supp .flex_domaines .presentation_domaines span {
  font-family: 'hypatia-sans-pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

section.section_domaines .margin_supp .flex_domaines .presentation_domaines h3 {
  font-family: 'gravityWanders', sans-serif;
  font-size: 144px;
  font-weight: normal;
  color: #EC5B5D;
  margin: 0;
  line-height: 80px;
}

section.section_domaines .margin_supp .flex_domaines .presentation_domaines p:nth-of-type(1) {
  font-family: 'hypatia-sans-pro', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #10374F;
  margin-bottom: 40px;
  position: relative;
  left: -10px;
}

section.section_domaines .margin_supp .flex_domaines .presentation_domaines p:nth-of-type(2) {
  font-family: 'hypatia-sans-pro', sans-serif;
  font-size: 24px;
  width: 500px;
  font-style: italic;
  color: #10374F;
}

section.section_domaines .margin_supp .flex_domaines .presentation_domaines a {
  font-family: 'gravityWanders', sans-serif;
  font-size: 30px;
  color: #10374F;
  padding-left: 40px;
  cursor: pointer;
}

section.section_domaines .margin_supp .flex_domaines .img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 700px;
}

section.section_domaines .margin_supp .flex_domaines .img.branding {
  background-image: url(../src/assets/branding.jpg);
}

section.section_domaines .margin_supp .flex_domaines .img.web {
  background-image: url(../src/assets/web.jpg);
}

section.section_domaines .margin_supp .flex_domaines .img.felixdumas {
  background-image: url(../src/assets/equipe/flx.png);
}

section.ruban {
  overflow: auto;
  cursor: default;
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
  padding: 15px 0;
  margin: 0 auto;
  background-color: #3E1739;
}

section.ruban span {
  font-family: 'gravityWanders', sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: ruban_anim 120s linear infinite;
          animation: ruban_anim 120s linear infinite;
}

section.ruban span.ruban_anim2 {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

@-webkit-keyframes ruban_anim {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes ruban_anim {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

section.ruban:after {
  content: '';
  clear: both;
  display: table;
}

@media screen and (max-width: 1600px) {
  section.section_cafe .macaron {
    margin: 0;
    top: 0;
  }
  section.section_cafe .margin_supp {
    margin: 0 100px;
  }
  section.section_cafe .flex_cafe {
    display: block;
  }
  section.section_cafe .flex_cafe:first-of-type p {
    width: calc(100% - 100px);
  }
  section.section_cafe .mission {
    font-size: 50px;
    line-height: 56px;
    width: 75vw;
    margin-bottom: 80px;
  }
  section.section_cafe .margin_supp {
    margin: 0;
  }
  section.section_domaines .margin_supp .flex_domaines {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 950px) {
  section.section_cafe {
    padding-top: 150px;
    padding-bottom: 200px;
  }
  section.section_domaines .margin_supp {
    margin: 0;
  }
  section.section_domaines .margin_supp .flex_domaines .presentation_domaines h3 {
    font-size: 80px;
  }
}

@media screen and (max-width: 650px) {
  section.section_cafe {
    padding-top: 100px;
    padding-bottom: 350px;
  }
  section.section_cafe.deuxieme {
    padding-bottom: 200px;
  }
  .background svg {
    width: 120%;
  }
  .front-page #app .social_networks {
    margin-right: 10px;
  }
  .front-page #app .presentation {
    margin-left: 10px;
  }
}

@media screen and (max-width: 450px) {
  section.section_cafe .flex_cafe:first-of-type p {
    width: 100%;
  }
  section.section_cafe .mission {
    font-size: 25px;
    width: 100%;
  }
  section.section_domaines.section_projets .wrap {
    padding: 0;
  }
  section.section_domaines.section_projets .wrap .margin_supp {
    margin: 0;
  }
  section.section_domaines.section_projets .wrap .margin_supp .flex_wrap_projets a.boite {
    width: 100vw;
    min-width: unset;
  }
}
/*# sourceMappingURL=sections.css.map */