@charset "UTF-8";
section.section_texte {
  width: 100vw;
  padding-top: 200px;
  padding-bottom: 240px;
  cursor: default;
  position: relative;
  z-index: 3;
}

section.section_texte .margin_supp {
  margin-right: 150px;
  margin-left: 150px;
}

section.section_texte .texte {
  margin-bottom: 45px;
}

section.section_texte .mission {
  font-family: 'gravityWanders', sans-serif;
  font-size: 60px;
  line-height: 70px;
  color: #10374F;
  margin: 0;
  margin-right: 100px;
}

section.section_texte .macaron {
  width: 220px;
  height: 220px;
  display: block;
  position: relative;
  cursor: pointer;
  margin-left: 0;
  top: -10px;
}

section.section_texte .macaron .contour {
  width: 220px;
  height: 220px;
  background-image: url(../src/assets/prendre_cafe.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: rotating 15s linear infinite;
          animation: rotating 15s linear infinite;
  position: relative;
}

@-webkit-keyframes rotating {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotating {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

section.section_texte .macaron .fleche {
  width: 30px;
  height: 50px;
  background-image: url(../src/assets/fleche.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-transition: .2s all;
  transition: .2s all;
}

section.section_texte .macaron:hover .fleche {
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
}

@media screen and (max-width: 1600px) {
  section.section_texte .macaron {
    margin: unset;
    top: -25px;
  }
  section.section_texte .margin_supp {
    margin: 0 100px;
  }
  section.section_texte .mission {
    font-size: 50px;
    line-height: 56px;
    width: 85vw;
    margin-bottom: 80px;
  }
  section.section_texte .margin_supp {
    margin: 0;
  }
}

@media screen and (max-width: 1400px) {
  section.section_texte .macaron {
    margin: 0;
    top: 0;
  }
}

@media screen and (max-width: 1024px) {
  section.section_texte.section_cafe, section.section_texte.deuxieme {
    padding-top: 100px;
    padding-bottom: 75px;
  }
  section.section_texte.section_cafe .macaron .contour {
    width: 150px;
    height: 150px;
  }
  section.section_texte.section_cafe .macaron .fleche {
    width: 21px;
    height: 35px;
    top: 35%;
    left: 35%;
  }
}

@media screen and (max-width: 950px) {
  section.section_texte {
    padding-top: 150px;
    padding-bottom: 200px;
  }
  section.section_texte .flex_cafe {
    display: unset;
  }
  section.section_texte .macaron {
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  section.section_texte .sous_titre {
    padding-top: 0;
  }
}

@media screen and (max-width: 650px) {
  section.section_texte {
    padding-top: 100px;
    padding-bottom: 350px;
  }
  section.section_texte .mission {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 45px;
  }
  section.section_texte .macaron {
    width: 150px;
    height: 150px;
  }
  section.section_texte .macaron .contour {
    width: 150px;
    height: 150px;
  }
  section.section_texte .macaron .fleche {
    width: 20px;
    height: 32px;
  }
  section.section_texte.deuxieme {
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 450px) {
  section.section_texte .mission {
    font-size: 25px;
    width: 100%;
  }
  section.section_texte .macaron {
    width: 220px;
    height: 220px;
  }
  section.section_texte.section_cafe .sous_titre {
    left: 0;
  }
  section.section_texte.section_cafe .macaron .contour {
    background-image: url(../src/assets/prendre_cafe_beige.svg);
  }
  section.section_texte.section_cafe .macaron .fleche {
    background-image: url(../src/assets/fleche_beige.svg);
    top: 17%;
  }
}

.section_services {
  background-color: #FEF2D1;
  cursor: default;
  position: relative;
}

.section_services .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.section_services .service.visible .sidebar {
  opacity: 1;
}

.section_services h3 {
  font-family: 'gravityWanders', sans-serif;
  font-size: 144px;
  line-height: 0.8;
  font-weight: normal;
  color: #EC5B5D;
  margin: 0;
}

.section_services p {
  font-family: 'hypatia-sans-pro', sans-serif;
  font-size: 24px;
  width: 500px;
  color: #10374F;
}

.section_services a {
  font-family: 'gravityWanders', sans-serif;
  font-size: 30px;
  color: #10374F;
  padding-left: 40px;
  cursor: pointer;
}

.section_services .sidebar {
  width: calc(100% * (9 / 14) - 10px);
  display: inline-block;
  -webkit-transition: .5s all;
  transition: .5s all;
  opacity: 0;
}

.section_services .content {
  width: calc(100% * (5 / 14) - 1px);
  display: inline-block;
}

.section_services .img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  position: relative;
}

.section_services .img img {
  top: 59%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
}

.section_services .img.branding {
  background-image: url(../src/assets/branding.jpg);
}

.section_services .img.branding img {
  left: calc(50% + 20px);
  width: 220px;
}

.section_services .img.web {
  background-image: url(../src/assets/web.jpg);
}

.section_services .img.web img {
  left: 50%;
  width: 235px;
}

.section_services .img.strategie {
  background-image: url(../src/assets/strategie.jpg);
}

.section_services .img.strategie img {
  left: calc(50% + 10px);
  width: 200px;
}

.section_services.presentation_services {
  background-color: unset;
}

.section_services.presentation_services .rectangle_beige {
  width: 100%;
  height: 795px;
}

.section_services.presentation_services .rectangle_beige .le_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 795px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.section_services.presentation_services .rectangle_beige .le_flex .premiere_boite {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  background-color: blueviolet;
  width: 500px;
  height: 100%;
  position: relative;
}

.section_services.presentation_services .rectangle_beige .le_flex .deuxieme_boite {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  height: 90%;
}

@media screen and (max-width: 1600px) {
  .section_services .margin_supp .flex_domaines {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section_services h3 {
    font-size: 115px;
  }
  .section_services p {
    font-size: 23px;
  }
  .section_services .img {
    height: 495px;
  }
  .section_services .img.branding img, .section_services .img.web img, .section_services .img.strategie img {
    width: 160px;
  }
}

@media screen and (max-width: 1400px) {
  .section_services .margin_supp {
    margin: 0;
  }
}

@media screen and (max-width: 950px) {
  .section_services .margin_supp p {
    font-size: 18px;
    width: 90%;
  }
  .section_services .margin_supp p.sous_titre {
    font-size: 16px;
  }
  .section_services .margin_supp h3 {
    font-size: 80px;
  }
  .section_services .margin_supp .img {
    height: 355px;
  }
  .section_services .margin_supp .img img {
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
    width: 130px;
  }
}

@media screen and (max-width: 768px) {
  .section_services .img {
    display: none;
  }
  .section_services .margin_supp p {
    width: 80vw;
  }
}

@media screen and (max-width: 450px) {
  .section_services .service {
    position: unset;
    padding: 100px 0;
  }
  .section_services p {
    font-size: 20px;
    width: auto;
  }
  .section_services h3 {
    font-size: 85px;
  }
  .section_services .sidebar {
    width: auto;
  }
  .section_services .sous_titre {
    padding-top: 0;
  }
  section.section_services.p.sous_titre {
    left: 0 !important;
  }
}

@media screen and (max-width: 320px) {
  .section_services h3 {
    font-size: 70px;
  }
}

@font-face {
  font-family: gravityWanders;
  src: url(assets/fonts/gravity_wanders-webfont.woff);
}

/*-------------------------ENTÊTE POMPETTES PRODUCTIONS---------------------*/
.section_entete {
  position: relative;
  width: 100vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 200px;
}

.entete {
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #10374F;
}

.entete h1 {
  font-family: gravityWanders;
  font-size: 64px;
  font-weight: normal;
  margin-top: 0px;
  line-height: 74px;
}

.para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sous_para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.multi_span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /**/
}

.multi_span:nth-of-type(1) {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  margin-right: 40px;
}

.multi_span:nth-of-type(1) > :nth-child(1) {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.multi_span:nth-of-type(1) > :nth-child(2) {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.multi_span:nth-of-type(1) > :nth-child(3) {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.multi_span:nth-of-type(2) {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  margin-right: 40px;
}

.multi_span:nth-of-type(3) {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

.multi_span:nth-of-type(3) > :nth-child(1) {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.multi_span:nth-of-type(3) > :nth-child(2) {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.multi_span span:nth-child(1) {
  font-weight: bold;
  font-family: hypatia-sans-pro;
  font-size: 24px;
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  padding-left: 5%;
}

.details {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  font-family: hypatia-sans-pro;
  font-size: 24px;
}

.separateur {
  width: 90px;
  border-bottom: 5px solid black;
  height: 4px;
  margin: 8px;
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  margin-right: 5%;
}

.expertise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /**/
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  font-family: hypatia-sans-pro;
  font-size: 24px;
}

.expertise:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.footer_entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 40px;
}

.footer_entete p {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_entete div {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 60px;
}

.links_entete {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'hypatia-sans-pro', sans-serif;
  color: #10374F;
  font-weight: 500;
  font-size: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

/*

* {
    border: 0.5px solid red;
    box-sizing: border-box;
}*/
/*--------------------------MEDIA QUERIES ENTETE POMPETTES PRODUCTIONS-----------------------------*/
@media screen and (max-width: 1024px) {
  .conteneur {
    padding: 0 60px;
  }
  .para {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .multi_span {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 40px;
  }
  .sous_para {
    width: 100%;
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_entete {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_entete p {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .footer_entete div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .multi_span span:nth-child(1) {
    padding-left: 0px;
  }
  .multi_span:nth-of-type(1) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 0px;
  }
  .multi_span:nth-of-type(2) > :nth-child(1) {
    -webkit-box-flex: 10%;
        -ms-flex: 10%;
            flex: 10%;
  }
  .multi_span:nth-of-type(2) > :nth-child(2) {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
    padding-right: 38px;
    margin-left: 31px;
  }
  .multi_span:nth-of-type(1) > :nth-child(1) {
    -webkit-box-flex: 10%;
        -ms-flex: 10%;
            flex: 10%;
  }
  .multi_span:nth-of-type(3) > :nth-child(1) {
    -webkit-box-flex: 10%;
        -ms-flex: 10%;
            flex: 10%;
  }
  .separateur {
    height: 10px;
    margin-top: 8px;
  }
  .details {
    padding-left: 0px;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .expertise {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media screen and (max-width: 768px) {
  .margin_supp.entete h1 {
    font-size: 56px;
    line-height: 65px;
  }
  .multi_span {
    margin-bottom: 26px;
  }
  .multi_span span:nth-child(1),
  .details,
  .expertise {
    font-size: 22px;
  }
  .multi_span:nth-of-type(2) > :nth-child(2) {
    padding-right: 24px;
    margin-left: 17px;
  }
}

@media screen and (max-width: 650px) {
  .margin_supp.entete h1 {
    font-size: 40px;
  }
  .multi_span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
  }
  .multi_span span:nth-child(1) {
    font-size: 16px;
  }
  .separateur {
    width: 90%;
  }
  .details,
  .list_expertise,
  .expertise {
    font-size: 16px;
  }
  .footer_entete {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .links_entete {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .multi_span:nth-of-type(2) > :nth-child(2) {
    padding-right: 2px;
    margin-left: 6px;
  }
  .multi_span {
    padding-bottom: 0px;
  }
  .multi_span:nth-of-type(2) > :nth-child(3),
  .multi_span:nth-of-type(1) > :nth-child(3),
  .multi_span:nth-of-type(3) > :nth-child(3) {
    padding: 0px 30px 0px 16px;
  }
}

/*-------------------------------------------------------------------------------------------------*/
/*--------------------------------------SECTION IMAGE---------------------------------------------*/
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: end;
    padding-left: 0;*/
}

.imgwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgwrap img {
  position: relative;
  max-width: 100%;
}

.section_full_image {
  cursor: default;
  position: relative;
}

/*changer de background en fonction de la section visée*/
.section_full_image:nth-child(odd) {
  background-color: #FEF2D1;
  padding: 100px 0px 100px 0px;
}

.section_full_image:nth-child(odd) .margin_supp {
  margin: 0px;
}

.section_full_image:nth-child(even) {
  background: none;
}

@media screen and (max-width: 650px) {
  .section_full_image {
    padding: 0px;
  }
}

/*---------------------------------------FIN SECTION IMAGE-----------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*--------------------------------SECTION DEFIS*--*SECTION SOLUTION----------------------------------*/
.section_defis {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f8f8;
  position: relative;
  padding-bottom: 100px;
  padding-top: 100px;
}

.text_image {
  margin: 0;
}

.section_solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info-container h1 {
  font-family: gravityWanders;
  line-height: 74px;
  font-weight: normal;
  margin: 0px;
  font-size: 64px;
  color: #10374F;
}

.info-container p {
  font-family: hypatia-sans-pro;
  font-size: 24px;
  color: #10374F;
}

.defis {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  padding: 80px 80px 0px 80px;
}

.solutions {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  padding: 80px 180px 0px 80px;
}

.solutions,
.defis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .box_img {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .defis {
    padding: 24px;
  }
  .solutions {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    padding: 24px;
  }
  .info-container h1 {
    font-size: 64px;
    line-height: 87px;
  }
  .info-container p {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .info-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .info-container h1 {
    font-size: 36px;
    line-height: 36px;
    margin: 0px;
  }
  .info-container p {
    font-size: 18px;
    padding: 6px;
    line-height: 22px;
    margin: 0px;
  }
  .defis {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    padding: 6px;
  }
  .solutions {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    padding: 6px;
  }
}

@media screen and (max-width: 650px) {
  .info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-container.solutions_ {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section_defis {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .defis {
    padding: 0px;
  }
  .section_solution {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .solutions {
    padding: 0px;
  }
}

@media only screen and (max-width: 479px) {
  .info-container h1 {
    font-size: 32px;
  }
  .info-container p {
    font-size: 16px;
  }
  .defis {
    padding: 15px 15px 0px 0px;
  }
  .solutions {
    padding: 15px 15px 0px 0px;
  }
}

/*-------------------------------------------FIN SECTION DEFIS / SOLUTIONS -----------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------SECTION GRID IMAGES-----------------------------------------------------*/
.section_grid_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 80px;
}

#offices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.row {
  margin-right: 50px;
}

.row > * {
  margin-bottom: 50px;
}

#officesImg {
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#officesImg img {
  width: 100%;
  height: auto;
  position: relative;
}

.grid_images {
  overflow-x: hidden !important;
  margin: 0px;
}

.box_img {
  display: block;
}

.box_img img {
  position: relative;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .row {
    margin-right: 25px;
  }
  .row > * {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 650px) {
  .section_grid_images {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .box_img {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 479px) {
  #officesImg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row {
    margin-right: 0px;
  }
}

/*SECTION A VOIR AVEC FELIX section.section_domaines */
section#appMobile {
  display: none;
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

section#appMobile .flex_projets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  top: 25vh;
  height: 450px;
}

section#appMobile .flex_projets a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section#appMobile .flex_projets a:nth-of-type(1) {
  background-image: url("../src/assets/projets/pompettes.jpg");
}

section#appMobile .flex_projets a:nth-of-type(2) {
  background-image: url("../src/assets/projets/presby.jpg");
}

section#appMobile .flex_projets a:nth-of-type(3) {
  background-image: url("../src/assets/projets/icerolls.jpg");
}

section#appMobile .flex_projets a p {
  font-family: 'hypatia-sans-pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  min-width: 200px;
  color: #FFFFFF;
}

section.section_texte.section_cafe .sous_titre {
  padding-top: 0;
}

section.section_texte.section_cafe.cachePrMobile {
  display: none;
}

section.section_cafe {
  width: 100vw;
  padding-top: 200px;
  padding-bottom: 200px;
  cursor: default;
  position: relative;
  z-index: 3;
}

section.section_cafe .margin_supp {
  margin: 0 200px;
  margin-right: 150px;
  margin-left: 150px;
}

section.section_cafe .flex_cafe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section_cafe .flex_cafe:first-of-type p {
  width: auto;
}

section.section_cafe .sous_titre {
  position: relative;
  left: -10px;
  font-family: 'hypatia-sans-pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #10374F;
}

section.section_cafe .mission {
  font-family: 'gravityWanders', sans-serif;
  font-size: 60px;
  line-height: 70px;
  color: #10374F;
  margin: 0;
  margin-bottom: 20px;
  width: 1300px;
}

section.section_cafe .macaron {
  position: relative;
  cursor: pointer;
  margin-left: 0;
}

section.section_cafe .macaron .contour {
  width: 220px;
  height: 220px;
  background-image: url(../src/assets/prendre_cafe.svg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: rotating 15s linear infinite;
          animation: rotating 15s linear infinite;
  position: relative;
}

@-webkit-keyframes rotating {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotating {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

section.section_cafe .macaron .fleche {
  width: 30px;
  height: 50px;
  background-image: url(../src/assets/fleche.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

section.section_domaines {
  background-color: #FEF2D1;
  cursor: default;
  padding: 175px 0;
  position: relative;
}

section.section_domaines.section_projets {
  display: table;
  background: -webkit-gradient(linear, left top, left bottom, from(#FEF2D1), to(#FFFFFF));
  background: linear-gradient(180deg, #FEF2D1 0%, #FFFFFF 100%);
}

section.section_domaines.section_projets .margin_supp {
  margin: 0 100px;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite {
  position: relative;
  width: calc(100% * (4 / 12) - 1px);
  min-width: 450px;
  height: 450px;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite:nth-child(4n + 1) .texte {
  background-color: #E7BA3F;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite:nth-child(4n + 2) .texte {
  background-color: #EC5B5D;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite:nth-child(4n + 3) .texte {
  background-color: #3E1739;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite:nth-child(4n + 4) .texte {
  background-color: #10374F;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite .texte {
  padding: 20px 15px;
  max-width: 475px;
  position: absolute;
  bottom: 25px;
  left: 0;
  display: inline-block;
  background-color: #EC5B5D;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite .texte p {
  font-family: 'hypatia-sans-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
}

section.section_domaines.section_projets .margin_supp .flex_wrap_projets a.boite .texte h4 {
  font-family: 'gravityWanders', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0;
}

section.section_domaines .margin_supp {
  margin: 0 200px 0 100px;
}

section.section_domaines .margin_supp .flex_domaines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section_domaines .margin_supp .flex_domaines .presentation_domaines {
  position: relative;
}

section.section_domaines .margin_supp .flex_domaines .presentation_domaines span {
  font-family: 'hypatia-sans-pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

section.section_domaines .margin_supp .flex_domaines .presentation_domaines h3 {
  font-family: 'gravityWanders', sans-serif;
  font-size: 144px;
  font-weight: normal;
  color: #EC5B5D;
  margin: 0;
  line-height: 80px;
}

section.section_domaines .margin_supp .flex_domaines .presentation_domaines p:nth-of-type(1) {
  font-family: 'hypatia-sans-pro', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #10374F;
  margin-bottom: 40px;
  position: relative;
  left: -10px;
}

section.section_domaines .margin_supp .flex_domaines .presentation_domaines p:nth-of-type(2) {
  font-family: 'hypatia-sans-pro', sans-serif;
  font-size: 24px;
  width: 500px;
  font-style: italic;
  color: #10374F;
}

section.section_domaines .margin_supp .flex_domaines .presentation_domaines a {
  font-family: 'gravityWanders', sans-serif;
  font-size: 30px;
  color: #10374F;
  padding-left: 40px;
  cursor: pointer;
}

section.section_domaines .margin_supp .flex_domaines .img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 700px;
}

section.section_domaines .margin_supp .flex_domaines .img.branding {
  background-image: url(../src/assets/branding.jpg);
}

section.section_domaines .margin_supp .flex_domaines .img.web {
  background-image: url(../src/assets/web.jpg);
}

section.section_domaines .margin_supp .flex_domaines .img.felixdumas {
  background-image: url(../src/assets/equipe/flx.png);
}

section.ruban {
  overflow: auto;
  cursor: default;
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
  padding: 15px 0;
  margin: 0 auto;
  background-color: #3E1739;
}

section.ruban span {
  font-family: 'gravityWanders', sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: ruban_anim 120s linear infinite;
          animation: ruban_anim 120s linear infinite;
}

section.ruban span.ruban_anim2 {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

@-webkit-keyframes ruban_anim {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes ruban_anim {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

section.ruban:after {
  content: '';
  clear: both;
  display: table;
}

@media screen and (max-width: 1800px) {
  section.section_texte .mission {
    font-size: 50px;
  }
}

@media screen and (max-width: 1600px) {
  section.section_cafe .macaron {
    top: 0;
  }
  section.section_cafe .margin_supp {
    margin: 0 100px;
  }
  section.section_cafe .flex_cafe {
    display: block;
  }
  section.section_cafe .flex_cafe:first-of-type p {
    width: auto;
  }
  section.section_cafe .mission {
    font-size: 50px;
    line-height: 56px;
    width: 75vw;
    margin-bottom: 80px;
  }
  section.section_cafe .margin_supp {
    margin: 0;
  }
  section.section_domaines .margin_supp .flex_domaines {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1400px) {
  #webGLApp {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media screen and (max-width: 1024px) {
  #webGLApp {
    display: none;
  }
  section#appMobile {
    display: block;
  }
}

@media screen and (max-width: 950px) {
  section.section_cafe {
    padding-top: 150px;
    padding-bottom: 200px;
  }
  section.section_domaines .margin_supp {
    margin: 0;
  }
  section.section_domaines .margin_supp .flex_domaines .presentation_domaines h3 {
    font-size: 80px;
  }
}

@media screen and (max-width: 650px) {
  section.section_texte .mission {
    font-size: 33px;
    line-height: 40px;
  }
  section.section_texte .macaron {
    padding-bottom: 200px;
  }
  section.section_cafe {
    padding-top: 100px;
    padding-bottom: 0;
  }
  section.section_cafe.deuxieme {
    padding-bottom: 200px;
  }
  .background svg {
    width: 120%;
  }
  .front-page #app .social_networks {
    margin-right: 10px;
  }
  .front-page #app .presentation {
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  section#appMobile {
    display: none;
  }
  section.section_texte.section_cafe.cachePrMobile {
    display: block;
    z-index: 7;
    position: absolute;
    top: 100px;
    left: 10px;
  }
  section.section_texte.section_cafe.cachePrMobile .sous_titre {
    color: #FEF2D1;
  }
  section.section_texte.section_cafe.cachePrMobile .mission {
    margin-bottom: 0;
    color: #FEF2D1;
  }
  section.section_cafe .macaron .fleche {
    top: 100px;
  }
  section.section_texte.section_cafe {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  section.ruban span {
    font-size: 55px;
  }
  .ruban_anim1 {
    font-size: 55px;
  }
  section#appMobile {
    display: none;
  }
  section.section_texte.section_cafe {
    display: none;
  }
  section.section_texte.section_cafe .macaron {
    margin: auto;
    margin-bottom: 200px;
  }
  section.section_texte.section_cafe .flex_cafe:first-of-type p {
    width: 100%;
  }
  section.section_texte.section_cafe .mission {
    font-size: 25px;
    width: 100%;
  }
  section.section_domaines.section_projets .wrap {
    padding: 0;
  }
  section.section_domaines.section_projets .wrap .margin_supp {
    margin: 0;
  }
  section.section_domaines.section_projets .wrap .margin_supp .flex_wrap_projets a.boite {
    width: 100vw;
    min-width: unset;
  }
}

@media screen and (max-width: 320px) {
  .section_services .margin_supp h3 {
    font-size: 70px;
  }
  section.section_texte.section_cafe.cachePrMobile {
    top: 65px;
  }
  section.section_texte.section_cafe.cachePrMobile .wrap {
    padding: 0 15px;
  }
  section.section_cafe .macaron .contour {
    display: none;
  }
  section.section_cafe .macaron .fleche {
    display: none;
  }
}
/*# sourceMappingURL=sections.css.map */